body {
    background-color: #E5E5E8;
    font-family: NS Sans;
    margin: 0;
    padding: 0;
}

/* header */

header {
    margin: 1.4em;
}

/*main*/

main {
    background-color: white;
    margin: 0.5em;
    padding: 1em 1em 3em 2em;
    display: flex;
    flex-wrap: wrap;
}

h1 {
    flex-basis: 100%;
    color: #223974;
    font-weight: normal;
}

p {
   flex-basis: 100%;
    margin-bottom: 3em;
}

main > form {
    flex-grow: 2;
}

fieldset {
    border-style: none;
    padding: 0;
}

main > form > fieldset > ul > li > input {
    flex-grow: 1;
    margin-bottom: 0.9em;
    margin-top: 0.9em;
    line-height: 2.5em;
    outline: none;

}

main > form > fieldset > ul {
    padding: 0;
}

main > form > fieldset > ul > li {
    display: flex;
    flex-direction: column;
}

main > form > fieldset > ul > li > input {
    margin-bottom: 0.9em;
    margin-top: 0.9em;
    display: flex;
    border: 0.0625em solid #b5b5bc;
    line-height: 2.5em;
    outline: none;
}

legend {
    color: #223974;
    font-size: 1.5em;
}

label {
    display: flex;
    margin-bottom: auto;
    margin-right: 1em;
    margin-top: auto;

}

input:valid {
    border-color: green;
    border-style: solid;
}

main > form > button {
    background-color: #2977BC;
    border: none;
    border-radius: 0;
    color: white;
    font-size: 0.9em;
    padding: 0.8em;
    text-align: left;
    width: 10em;

}

button:hover {
    background-color: #223974;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}

main > section > ul > li {
    background: url(../images/vinkje.svg) no-repeat left;
    list-style: none;
    margin-bottom: 0.8em;
    padding-left: 2.5em;

}

main > section {
    flex-grow: 1;
    margin-top: 3em;
    margin-left: 0;
}

main > section > ul {
    padding: 0;
}

h2 {
    margin: 0;
    color: #223974;
    font-size: 1em;
    font-weight: normal;
}

main {
    display: flex;
    flex-direction: column;
}

main > p {
    padding-left: 0.2em;
}

/*Breakpoint 1*/

@media screen and (min-width: 36.250em) {

    main {
        margin: 1.5em;
    }

    main > form > fieldset > ul > li {
        flex-direction: row;
    }
    main > form > fieldset > ul > li > label {
        width: 6em;
    }
    main > form > button {
        margin-left: 8em;
    }
}

/*Breakpoint 2*/

@media screen and (min-width: 64.000em) {

    body {
        font-size: 1.2em;
    }

    main {
        padding-bottom: 5em;
        margin: 0em 1.5em;
    }

    main {
        flex-direction: row;
    }
    main {
        margin-left: 3em;
        margin-top: 2.5em;
    }

    main > section {
        margin-top: 0em;
        margin-left: 3em;
    }
}
