.progressIndicator {
    height: 1em;
    background-color: #2977BC;
    background-color: rgba(41, 119, 188, 0.8);
    animation: progressAnimatie 5s;

}

@keyframes progressAnimatie {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}
